<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true">

  <variable name="app_name" value="im-server" />

  <variable name="log_base_dir" value="/api-logs" />

  <variable name="logDirectory" value="${var:log_base_dir}" />

  <targets>
    <!--
        需要在appsetting里配置log_base_dir才能开启日志
        
        https://github.com/NLog/NLog/wiki/File-target
        archiveAboveSize会影响性能
        
        size=20971520（大约20MB）
        -->
    <target name="logfile" xsi:type="File"
            fileName="${var:logDirectory}/app.${app_name}.${shortdate}.log"
            archiveFileName="${var:logDirectory}/.archives/app.${app_name}.${shortdate}.{#####}.txt"
            archiveAboveSize="20971520"
            archiveNumbering="Sequence"
            concurrentWrites="true">
      <layout xsi:type="JsonLayout">
        <attribute name="app" layout="${app_name}" />
        <attribute name="time" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" escapeUnicode="false" />
        <attribute name="exception" layout="${exception:format=toString}" escapeUnicode="false" />
        <attribute name="stacktrace" layout="${stacktrace}" escapeUnicode="false" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>

</nlog>