<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      throwExceptions="false"
      throwConfigExceptions="true">
    
    <variable name="log_base_dir" value="/api-logs" />
    
    <variable name="logDirectory" value="${var:log_base_dir}/${shortdate}" />
    
    <targets>
        <!--
        需要在appsetting里配置log_base_dir才能开启日志
        
        https://github.com/NLog/NLog/wiki/File-target
        archiveAboveSize会影响性能
        -->
        <target name="logfile" xsi:type="File" 
                layout="${longdate} | ${logger} | ${level} | ${message} | ${stacktrace}" 
                fileName="${var:logDirectory}/logs/logfile.txt" 
                archiveFileName="${var:logDirectory}/archives/log.{#####}.txt" 
                archiveAboveSize="5242880" 
                archiveNumbering="Sequence" 
                concurrentWrites="true" />
    </targets>
    
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
    
</nlog>